-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: smart_attendance
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academic_year`
--

DROP TABLE IF EXISTS `academic_year`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academic_year` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_hg13prnh3e361gggmev3itf84` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_year`
--

LOCK TABLES `academic_year` WRITE;
/*!40000 ALTER TABLE `academic_year` DISABLE KEYS */;
INSERT INTO `academic_year` VALUES (2,_binary '','2025-2026');
/*!40000 ALTER TABLE `academic_year` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance_record`
--

DROP TABLE IF EXISTS `attendance_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance_record` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `captured_image_path` varchar(255) DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `status` enum('PRESENT','PENDING_VERIFICATION','REJECTED','MANUAL_VERIFIED') DEFAULT NULL,
  `timestamp` datetime(6) DEFAULT NULL,
  `session_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK4x9q0ccn76aw9aap61nhknqvv` (`session_id`),
  KEY `FKt3jtbycgjbrv70kwdx13kdb3d` (`student_id`),
  CONSTRAINT `FK4x9q0ccn76aw9aap61nhknqvv` FOREIGN KEY (`session_id`) REFERENCES `attendance_session` (`id`),
  CONSTRAINT `FKt3jtbycgjbrv70kwdx13kdb3d` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26344 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_record`
--

LOCK TABLES `attendance_record` WRITE;
/*!40000 ALTER TABLE `attendance_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance_session`
--

DROP TABLE IF EXISTS `attendance_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance_session` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `end_time` datetime(6) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `radius` double DEFAULT NULL,
  `start_time` datetime(6) DEFAULT NULL,
  `faculty_subject_map_id` bigint NOT NULL,
  `qr_token` varchar(255) DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `created_by_faculty_id` bigint DEFAULT NULL,
  `is_lab_session` tinyint(1) NOT NULL DEFAULT '0',
  `lab_subject_id` bigint DEFAULT NULL,
  `period` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_ruq07i83b68cdso5r6bn35c4a` (`qr_token`),
  KEY `FKogelu5yleq3phg6t1tfwthc18` (`faculty_subject_map_id`),
  KEY `FKkschnh70ckybedo8kmcxkr51f` (`lab_subject_id`),
  CONSTRAINT `FKkschnh70ckybedo8kmcxkr51f` FOREIGN KEY (`lab_subject_id`) REFERENCES `subjects` (`id`),
  CONSTRAINT `FKogelu5yleq3phg6t1tfwthc18` FOREIGN KEY (`faculty_subject_map_id`) REFERENCES `faculty_subject_map` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=885 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_session`
--

LOCK TABLES `attendance_session` WRITE;
/*!40000 ALTER TABLE `attendance_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action` varchar(50) NOT NULL,
  `entity_id` bigint DEFAULT NULL,
  `entity_type` varchar(50) NOT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `new_value` text,
  `old_value` text,
  `timestamp` datetime(6) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_entity_type_id` (`entity_type`,`entity_id`),
  KEY `idx_user_timestamp` (`user_id`,`timestamp`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bulk_upload_logs`
--

DROP TABLE IF EXISTS `bulk_upload_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bulk_upload_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `error_summary` text,
  `file_name` varchar(255) DEFAULT NULL,
  `invalid_records` int DEFAULT NULL,
  `status` enum('PENDING','VALIDATED','CONFIRMED','FAILED') NOT NULL,
  `total_records` int DEFAULT NULL,
  `upload_type` enum('STUDENT','FACULTY') NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  `uploaded_by` bigint NOT NULL,
  `valid_records` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bulk_upload_logs`
--

LOCK TABLES `bulk_upload_logs` WRITE;
/*!40000 ALTER TABLE `bulk_upload_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `bulk_upload_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_curriculum`
--

DROP TABLE IF EXISTS `class_curriculum`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `class_curriculum` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `department_code` varchar(32) NOT NULL,
  `program` enum('UG','PG') NOT NULL,
  `section_key` varchar(16) NOT NULL,
  `semester` int NOT NULL,
  `syllabus_text` text,
  `syllabus_url` varchar(1024) DEFAULT NULL,
  `timetable_text` text,
  `updated_at` datetime(6) DEFAULT NULL,
  `timetable_image_url` varchar(1024) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKa623bi1dkoetaqxuxqo2e4hsg` (`department_code`,`program`,`semester`,`section_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_curriculum`
--

LOCK TABLES `class_curriculum` WRITE;
/*!40000 ALTER TABLE `class_curriculum` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_curriculum` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classes`
--

DROP TABLE IF EXISTS `classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `classes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `department` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `year_level` int NOT NULL,
  `program_type` enum('UG','PG') DEFAULT NULL,
  `syllabus` text,
  `timetable` text,
  `crc_id` bigint DEFAULT NULL,
  `syllabus_url` varchar(255) DEFAULT NULL,
  `timetable_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKhgx2nvfy7mo8dtebth0uyfm8n` (`crc_id`),
  CONSTRAINT `FKhgx2nvfy7mo8dtebth0uyfm8n` FOREIGN KEY (`crc_id`) REFERENCES `faculty` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=131 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes`
--

LOCK TABLES `classes` WRITE;
/*!40000 ALTER TABLE `classes` DISABLE KEYS */;
/*!40000 ALTER TABLE `classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `code` varchar(10) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `name` varchar(100) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `hod_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_l7tivi5261wxdnvo6cct9gg6t` (`code`),
  UNIQUE KEY `UKl7tivi5261wxdnvo6cct9gg6t` (`code`),
  KEY `FKp1u5wj9ksmjxus54tbmqkbesm` (`hod_id`),
  CONSTRAINT `FKp1u5wj9ksmjxus54tbmqkbesm` FOREIGN KEY (`hod_id`) REFERENCES `faculty` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faculty`
--

DROP TABLE IF EXISTS `faculty`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `faculty` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `employment_status` enum('ACTIVE','ON_LEAVE','RELIEVED','RETIRED') NOT NULL,
  `faculty_id` varchar(50) DEFAULT NULL,
  `joining_date` date DEFAULT NULL,
  `qualifications` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `department_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_3eea1r6n844u6vn4qae7dix4` (`user_id`),
  UNIQUE KEY `UK_h45os1soh4h15364vtia24jpo` (`faculty_id`),
  UNIQUE KEY `UK74088rfcd6b9fd114mhuoo3v7` (`faculty_id`),
  KEY `FKbcib0tg0bv7u4cwa1bfwyn6ud` (`department_id`),
  CONSTRAINT `FKbcib0tg0bv7u4cwa1bfwyn6ud` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `FKfakwwhqpm5bahy2do8t30j58r` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=123 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty`
--

LOCK TABLES `faculty` WRITE;
/*!40000 ALTER TABLE `faculty` DISABLE KEYS */;
/*!40000 ALTER TABLE `faculty` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faculty_subject_eligibility`
--

DROP TABLE IF EXISTS `faculty_subject_eligibility`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `faculty_subject_eligibility` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `approved_at` datetime(6) DEFAULT NULL,
  `approved_by` bigint DEFAULT NULL,
  `faculty_id` bigint NOT NULL,
  `subject_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK54uerbrjy8ckyj39510h3c2pq` (`faculty_id`),
  KEY `FKch2phumeqjv2b1u9y1v4kc3gk` (`subject_id`),
  CONSTRAINT `FK54uerbrjy8ckyj39510h3c2pq` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`id`),
  CONSTRAINT `FKch2phumeqjv2b1u9y1v4kc3gk` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty_subject_eligibility`
--

LOCK TABLES `faculty_subject_eligibility` WRITE;
/*!40000 ALTER TABLE `faculty_subject_eligibility` DISABLE KEYS */;
/*!40000 ALTER TABLE `faculty_subject_eligibility` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faculty_subject_map`
--

DROP TABLE IF EXISTS `faculty_subject_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `faculty_subject_map` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `assigned_at` datetime(6) DEFAULT NULL,
  `assigned_by` bigint DEFAULT NULL,
  `locked` bit(1) NOT NULL,
  `section` varchar(255) DEFAULT NULL,
  `academic_year_id` bigint NOT NULL,
  `class_id` bigint NOT NULL,
  `faculty_id` bigint NOT NULL,
  `subject_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK829eymjtvncng5vj70knsy951` (`academic_year_id`),
  KEY `FKfjtcqc2bh60c7ijc5qt9rh9xy` (`class_id`),
  KEY `FKnd8kwkhk0887fulmps0dw10yp` (`faculty_id`),
  KEY `FK5gwm9bratf69sxvugrybeo74e` (`subject_id`),
  CONSTRAINT `FK5gwm9bratf69sxvugrybeo74e` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`),
  CONSTRAINT `FK829eymjtvncng5vj70knsy951` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_year` (`id`),
  CONSTRAINT `FKfjtcqc2bh60c7ijc5qt9rh9xy` FOREIGN KEY (`class_id`) REFERENCES `classes` (`id`),
  CONSTRAINT `FKnd8kwkhk0887fulmps0dw10yp` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=304 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty_subject_map`
--

LOCK TABLES `faculty_subject_map` WRITE;
/*!40000 ALTER TABLE `faculty_subject_map` DISABLE KEYS */;
INSERT INTO `faculty_subject_map` VALUES (296,'2026-04-24 01:00:34.502700',NULL,_binary '\0','A',2,99,38,63),(299,'2026-05-02 23:00:03.292944',NULL,_binary '\0','A',2,99,121,64),(300,'2026-05-02 23:04:25.839167',NULL,_binary '\0','A',2,99,66,65),(301,'2026-05-04 09:37:02.589136',NULL,_binary '\0','A',2,98,38,66),(302,'2026-05-06 01:50:39.279347',NULL,_binary '\0','A',2,99,122,73),(303,'2026-05-06 02:04:58.388141',NULL,_binary '\0','A',2,99,38,74);
/*!40000 ALTER TABLE `faculty_subject_map` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lab_faculty_assignment`
--

DROP TABLE IF EXISTS `lab_faculty_assignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lab_faculty_assignment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `assigned_at` datetime(6) DEFAULT NULL,
  `assigned_by` bigint DEFAULT NULL,
  `academic_year_id` bigint NOT NULL,
  `course_class_id` bigint NOT NULL,
  `faculty_id` bigint NOT NULL,
  `subject_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKcybhvssqggqwjf1pyuxx0gp64` (`academic_year_id`),
  KEY `FKoryp9otjeajr85bvl4q3uo9ps` (`course_class_id`),
  KEY `FK3ihcpxsoiomxvduv284tl2ciy` (`faculty_id`),
  KEY `FKmnpvvckn54ts6rt2i634db1lc` (`subject_id`),
  CONSTRAINT `FK3ihcpxsoiomxvduv284tl2ciy` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`id`),
  CONSTRAINT `FKcybhvssqggqwjf1pyuxx0gp64` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_year` (`id`),
  CONSTRAINT `FKmnpvvckn54ts6rt2i634db1lc` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`id`),
  CONSTRAINT `FKoryp9otjeajr85bvl4q3uo9ps` FOREIGN KEY (`course_class_id`) REFERENCES `classes` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lab_faculty_assignment`
--

LOCK TABLES `lab_faculty_assignment` WRITE;
/*!40000 ALTER TABLE `lab_faculty_assignment` DISABLE KEYS */;
/*!40000 ALTER TABLE `lab_faculty_assignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manual_override_log`
--

DROP TABLE IF EXISTS `manual_override_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manual_override_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `proof_image_path` varchar(255) DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `timestamp` datetime(6) DEFAULT NULL,
  `faculty_id` bigint NOT NULL,
  `session_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK7psx4ipj2dv2p8i74e0a2stc7` (`faculty_id`),
  KEY `FKlgclgotq9g72fhm3xhc53hlid` (`session_id`),
  KEY `FK62jejdgb33slypmlo8fik971r` (`student_id`),
  CONSTRAINT `FK62jejdgb33slypmlo8fik971r` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`),
  CONSTRAINT `FK7psx4ipj2dv2p8i74e0a2stc7` FOREIGN KEY (`faculty_id`) REFERENCES `faculty` (`id`),
  CONSTRAINT `FKlgclgotq9g72fhm3xhc53hlid` FOREIGN KEY (`session_id`) REFERENCES `attendance_session` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manual_override_log`
--

LOCK TABLES `manual_override_log` WRITE;
/*!40000 ALTER TABLE `manual_override_log` DISABLE KEYS */;
INSERT INTO `manual_override_log` VALUES (1,NULL,'','2026-04-24 01:41:22.122203',38,880,2202),(2,NULL,'','2026-04-24 01:41:34.084002',38,880,2204),(3,NULL,'','2026-05-03 00:31:14.250205',121,883,2203),(4,NULL,'','2026-05-03 00:31:31.034963',121,883,2202),(5,NULL,'','2026-05-03 00:31:44.868040',121,883,2204),(6,NULL,'','2026-05-03 00:31:50.961036',121,883,2214),(7,NULL,'','2026-05-03 00:31:59.015379',121,883,2215),(8,NULL,'','2026-05-03 00:32:05.061850',121,883,2198);
/*!40000 ALTER TABLE `manual_override_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programs`
--

DROP TABLE IF EXISTS `programs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `programs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `duration_years` int NOT NULL,
  `name` varchar(50) NOT NULL,
  `total_semesters` int NOT NULL,
  `type` enum('UG','PG') NOT NULL,
  `department_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK7xrusj91mbbujeaxtrrdowj7e` (`department_id`),
  CONSTRAINT `FK7xrusj91mbbujeaxtrrdowj7e` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programs`
--

LOCK TABLES `programs` WRITE;
/*!40000 ALTER TABLE `programs` DISABLE KEYS */;
INSERT INTO `programs` VALUES (13,_binary '',4,'B.Tech CSE',8,'UG',46),(14,_binary '',2,'M.Tech CSE',4,'PG',46),(23,_binary '',4,'B.Tech ECE',8,'UG',51),(24,_binary '',2,'M.Tech ECE',4,'PG',51),(25,_binary '',4,'B.Tech EEE',8,'UG',52),(26,_binary '',2,'M.Tech EEE',4,'PG',52),(29,_binary '',4,'B.Tech MECHANICAL',8,'UG',54),(30,_binary '',2,'M.Tech MECHANICAL',4,'PG',54),(33,_binary '',4,'B.Tech CIVIL',8,'UG',56),(34,_binary '',2,'M.Tech CIVIL',4,'PG',56),(81,_binary '',4,'B.Tech CE',8,'UG',80),(82,_binary '',2,'M.Tech CE',4,'PG',80);
/*!40000 ALTER TABLE `programs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_alerts`
--

DROP TABLE IF EXISTS `student_alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_alerts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `alert_key` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `is_read` bit(1) NOT NULL,
  `message` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `student_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK2gx540ppunem3484kjc6a39aj` (`student_id`),
  CONSTRAINT `FK2gx540ppunem3484kjc6a39aj` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_alerts`
--

LOCK TABLES `student_alerts` WRITE;
/*!40000 ALTER TABLE `student_alerts` DISABLE KEYS */;
INSERT INTO `student_alerts` VALUES (1,'OVERALL_LOW:67','2026-05-06 02:43:54.874502',_binary '','ÔÜá´©Å Your overall attendance is below 75% (66.7%)','LOW_ATTENDANCE',2203),(2,'SUBJECT_LOW:64:50','2026-05-06 02:43:55.207718',_binary '','­ƒö┤ Low attendance in Big Data Analytics (50.0%)','LOW_ATTENDANCE',2203);
/*!40000 ALTER TABLE `student_alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_class_map`
--

DROP TABLE IF EXISTS `student_class_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_class_map` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `academic_year_id` bigint NOT NULL,
  `class_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKd6w1vr24e8a97otcaruhb0jm7` (`academic_year_id`),
  KEY `FKeqxd53od5ql7wij3754p33cwq` (`class_id`),
  KEY `FKfegs17ooa5c7c8qudvsupxmiu` (`student_id`),
  CONSTRAINT `FKd6w1vr24e8a97otcaruhb0jm7` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_year` (`id`),
  CONSTRAINT `FKeqxd53od5ql7wij3754p33cwq` FOREIGN KEY (`class_id`) REFERENCES `classes` (`id`),
  CONSTRAINT `FKfegs17ooa5c7c8qudvsupxmiu` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2398 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_class_map`
--

LOCK TABLES `student_class_map` WRITE;
/*!40000 ALTER TABLE `student_class_map` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_class_map` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_semester_history`
--

DROP TABLE IF EXISTS `student_semester_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_semester_history` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `attendance_percentage` double DEFAULT NULL,
  `cgpa` double DEFAULT NULL,
  `promoted_at` datetime(6) DEFAULT NULL,
  `remarks` varchar(500) DEFAULT NULL,
  `semester_number` int NOT NULL,
  `status` enum('PROMOTED','DETAINED','CONDITIONAL','BACKLOG') NOT NULL,
  `academic_year_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKogaoaitnr9yohitmtgmu4f203` (`academic_year_id`),
  KEY `FK1rv7v9dif54wj9pk2dpfmxqxh` (`student_id`),
  CONSTRAINT `FK1rv7v9dif54wj9pk2dpfmxqxh` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`),
  CONSTRAINT `FKogaoaitnr9yohitmtgmu4f203` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_year` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_semester_history`
--

LOCK TABLES `student_semester_history` WRITE;
/*!40000 ALTER TABLE `student_semester_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_semester_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `admission_year` int DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `current_semester` int DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `profile_image_path` varchar(255) DEFAULT NULL,
  `program` enum('UG','PG') DEFAULT NULL,
  `roll_number` varchar(50) DEFAULT NULL,
  `section` varchar(255) DEFAULT NULL,
  `status` enum('ACTIVE','PROMOTED','DETAINED','PASSED_OUT','WITHDRAWN') NOT NULL,
  `student_id` varchar(50) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `department_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_g4fwvutq09fjdlb4bb0byp7t` (`user_id`),
  UNIQUE KEY `UK_kmd86jf46110c60b412tjt2bg` (`roll_number`),
  UNIQUE KEY `UK_5mbus2m1tm2acucrp6t627jmx` (`student_id`),
  UNIQUE KEY `UKsmfrt63uflbl1uc6mqtu17cns` (`roll_number`),
  UNIQUE KEY `UKhnkdj453spsaokfe0dqhnwwyt` (`student_id`),
  KEY `FKalgc33nsolpmegw14o3h6g6rr` (`department_id`),
  CONSTRAINT `FKalgc33nsolpmegw14o3h6g6rr` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `FKdt1cjx5ve5bdabmuuf3ibrwaq` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2338 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjects`
--

DROP TABLE IF EXISTS `subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subjects` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `subject_type` varchar(20) NOT NULL DEFAULT 'REGULAR',
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_rg7x1lyii7kdyycw98d45vep5` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjects`
--

LOCK TABLES `subjects` WRITE;
/*!40000 ALTER TABLE `subjects` DISABLE KEYS */;
INSERT INTO `subjects` VALUES (63,'CS301','Data Structures','REGULAR'),(64,'BDA001','Big Data Analytics','REGULAR'),(65,'CSE0310','Design Patterns','REGULAR'),(66,'CSE010','OOPS using JAVA','REGULAR'),(69,'LAB001','AI using Python','LAB'),(70,'LAB002','oops lab','LAB'),(71,'PE001','seminar','LAB'),(72,'PR001','project','LAB'),(73,'NSS001','NSS','REGULAR'),(74,'LIB001','Library','REGULAR');
/*!40000 ALTER TABLE `subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `temp_upload_data`
--

DROP TABLE IF EXISTS `temp_upload_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `temp_upload_data` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `data_json` text NOT NULL,
  `row_num` int NOT NULL,
  `upload_log_id` bigint NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=601 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `temp_upload_data`
--

LOCK TABLES `temp_upload_data` WRITE;
/*!40000 ALTER TABLE `temp_upload_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `temp_upload_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `contact_number` varchar(255) DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `first_name` varchar(255) DEFAULT NULL,
  `gender` varchar(255) DEFAULT NULL,
  `is_first_login` bit(1) NOT NULL,
  `last_name` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `profile_image` varchar(255) DEFAULT NULL,
  `role` enum('STUDENT','FACULTY','HOD','ADMIN','PRINCIPAL') NOT NULL,
  `username` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_r43af9ap4edm43mmtq01oddj6` (`username`),
  UNIQUE KEY `UKr43af9ap4edm43mmtq01oddj6` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2462 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-06  7:17:29
